^ContentPage {
    background-color: white;
}

^Shell {
    -xf-shell-background: #5561F9;
    -xf-shell-foreground: white;
    -xf-shell-title: white;
    -xf-shell-disabled: #B4FFFFFF;
    -xf-shell-unselected: #33FFFFFF;
}

.bgColor {
    background-color: #5561F9;
}